.entry-overall-container {
    background-color: white;
    display: flex;
    flex-direction: Column;
    margin: 20px 20px 20px 0px;
    margin-left: 20px;
    width: 45em;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}
.entry-info-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.entry-mood-category {
    font-size: 1em;
    text-transform: uppercase;
    font-family: balboa, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #D8D8D8;
    margin: 0;
    padding: 5px;
    letter-spacing: 0.5px;
}

.entry-date-container {
    display: flex;
    flex-direction: row;
    background-color: #4F6D74;
    justify-content: space-between;
    align-items: center;
}

.entry-date-day{
    font-size: 1em;
    text-transform: uppercase;
    font-family: balboa, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #D8D8D8;
    margin: 0;
}
.entry-date-time{
    font-size: 1em;
    text-transform: uppercase;
    font-family: balboa, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #D8D8D8;
    margin: 0;
    margin-right: 30px;
}
  
.entry-entry-container{
    display: flex;
    flex-direction: column;
}
.entry-mood{
    font-size: 2em;
    font-family: balboa, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #4F6D74;
    margin-bottom: 0px;
}
.entry-text{
    font-size: 1.3em;
    font-family: balboa, sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #D8D8D8;
    margin: 0;
    padding: 5px;
    letter-spacing: 0.5px;
    padding: 0;
}
    
.entry-heading-container{
    border-radius: 3px;
    width: 8em;
    background-color: #4F6D74;
    color: white;
    transform: translateY(-100%) translateX(130%);
}
.entry-heading-text{
    text-align: center;
    padding: 5px 0px;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-bottom: -2px;
}

.entries-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}