.safetyplan-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.safetyplan-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70vw;
    margin: auto;
}

#map {
    height: 700px;
  }

