



*:focus {
  outline-color: transparent;
  outline-style: none;
}


body > #root {
  height: 100vh;
}

.App-logo {
    height: 30px
}

.secondaryLogo {
    height: 80px;
    margin: auto;
}

.login-container {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

#regulate-logo {
  width: 50%;
  height: auto;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: -10px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* justify-content: center;
  align-items: center; */
  height: 80vh;
}

.colin-button {
  background-color: #2A404A;
  color: white;
  border-radius: 25px;
  padding: 15px 60px;
  margin: auto;
  border: none;
  margin-top: 50px;
}

.delete-button {
  background-color: transparent;
  color: #D3524E;
  border-radius: 25px;
  padding: 15px 60px;
  margin: auto;
  margin-left: 20px;
  border: 1px solid #D3524E;
  margin-top: 50px;
}

.colin-heading {
  margin-top: 10vh;
  text-align: center;
  letter-spacing: .1em;
  font-family: utopia-std-headline, serif;
  font-weight: 400;
  font-style: normal;
}

.colin-input {
  width: 50vw;
  padding: 17px;
  background-color: transparent;
  margin: auto;
  margin-top: 20px;
  border-radius: 3px;
  border-style:solid;
  border: 1px solid #4F6D74
}


.dropdown-actual {
  justify-self: center;
  align-self: center;
  width: 50%;
}

.regulate-dropdown {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.dropdown-actual > .dropdown-item {
  color: #2A404A;
  margin-left: -50px;
}
.dropdown-actual > .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.dropdown-actual > h6 {
  color: rgb(71, 109, 126);
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .2em;
}

/* hamburgermenu */
/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 30px;
    height: 20px;
    right: 36px;
    top: 15px;
    color: #2A4D59;
    z-index:  1050;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #2A4D59;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: white;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #CCE4DE;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #2A404A;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    display: 'flex';
    flex-direction: 'column';
    line-height: 3em;
  }
  
  /* Individual item */
  .bm-item {
    display: 'inline-block';
    /* box-shadow: inset 0 -1px rgba(0, 0, 0, 0.35); */
    padding: 1em;
    color: #C7E5DE;
  }

  .bm-item:nth-child(1) {
    display: 'inline-block';
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.35);
    padding: 1em;
    color: #C7E5DE;
  }

  .bm-item:nth-child(6) {
    display: 'inline-block';
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.35);
    padding: 1em;
    color: #C7E5DE;
  }

  .bm-item:hover {
    text-decoration: none;
    color: rgb(213, 230, 224);
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

.currentLink {
    color: #ECAEA3;
}




a {
    color: white;
}

a:hover {
  text-decoration: none;
  color: #ECAEA3;
}

/* additions */
.add-new-cm {
  text-align: center;
  margin-top: 30px;
  margin-bottom: -10px;
}


nav.navbar.navbar-light.sticky-top {
  z-index: 900;
}
